.card-group {
  display: flex;
  flex-wrap: wrap;
}

.card-group > .card {
  flex: 1 0 30%;
}

.card-group > .card:last-child {
  flex: 0 0 33.33%;
}

.container {
  padding-top: 50px;
}

form {
  padding-bottom: 30px;
}

.cart-heading {
  padding-bottom: 25px;
}

.cart-heading-two {
  padding-bottom: 25px;
}
