* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-group > .card {
  flex: 1 0 30%;
}

.card-group > .card:last-child {
  flex: 0 0 33.33%;
}

.col-md-8 {
  padding: 0;
}
